@font-face {
  font-family: "GTAmerica";
  src: url("../../../stuff/fonts/GTAmerica-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "GTAmerica";
}

.section {
   display: none;
   padding: 15px;
   background: #f4f4f4;
   margin-bottom: 10px;
 }
 
 .active {
   display: block;
 }
